@import "~react-image-gallery/styles/css/image-gallery.css";

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

section {
  padding: 80px 10px;
}

.backgroundMain {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../public/backgrounds/index-top.jpg);
}

.backgroundImg {
  padding: 0 12px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: "0 0 10px #202020";
}

@media only screen and (min-width: 1024px) {
  .backgroundImg {
    min-height: 84vh;
  }
}
@media only screen and (max-width: 1023px) {
  .backgroundImg {
    padding: 35px 10px;
  }
}

/** Custom Button Specific */
.icon:hover {
  cursor: pointer;
  color: #d6ad60 !important;
  transition: 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out !important;
}

.arrowIcon:hover {
  transform: rotate(180deg);
}

.customBtn:hover .arrowIcon {
  transform: rotate(180deg);
}

/** Image Carousel Specific */
.image-gallery-icon:hover {
  color: #d6ad60;
}
